{% extends 'base.html.twig' %}

{% block title %}
    {{ presenter.page.title.value }}
{% endblock %}

{% block body %}
    <div class="mdc-card">
        {% form_theme presenter.viewOptions.form.createView 'form/themes/_ask_reset_password_token_theme.html.twig' %}
        {{ form(presenter.viewOptions.form.createView) }}
    </div>
{% endblock %}
