###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
docker/nginx/logs/

# Frontend
/node_modules/
/public/build/

# Global
coverage/**/
report/*

# Google Cloud
public/images/profiles/
config/credentials/google/*

# Behat
.env.behat

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# Blackfire
.blackfire

# Tests
tests/_credentials/*
features/assets/_credentials/*
