###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
docker/nginx/logs/

# Global
coverage/**/
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

# Google Cloud
config/credentials/google/bucket/
config/credentials/google/vision/
public/images/profiles/
