###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

# Docker
docker/nginx/logs/

# Frontend
/node_modules/
/public/build/

# Global
coverage/**/
report/*
###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

# Google Cloud
public/images/profiles/

# Behat
.env.behat

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

# Blackfire
.blackfire
