{% extends 'base.html.twig' %}

{% block title %}
    {{ presenter.page.content.value }}
{% endblock %}

{% block body %}
    <section class="mdc-layout-grid">
        <div>
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <p>Hello from dashboard !</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


