{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <button class="mdc-button mdc-button--raised">
        <a href="{{ path('dashboard_stock_creation') }}">
            Hello from dashboard !
        </a>
    </button>
{% endblock %}
