{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/dashboard.css') }}" />
{% endblock %}

{% block body %}
    <section class="mk-main__dashboard-container">
        <div class="mdc-card">
            <p>Hello from dashboard !</p>
        </div>
    </section>
{% endblock %}
