<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section>
            <h2>Welcome to MarketReminder !</h2>
            <div>
                <p>
                    Welcome to MarketReminder !
                </p>
                <p>
                    As we're extremely happy to see on board, we've sent your this email, this way, we can start
                    the adventure in the right conditions.
                    First, thanks again for your interest in the platform !
                </p>
                <p>
                    In a second time, we need you to validated your account in order to access the full platform.
                    For this, here's a link : , once you've activate your account, you're gonna be able to log
                    and create your first stock and manage it.
                </p>
            </div>
        </section>
    </body>
</html>
