<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <section>
            <h2></h2>
            <div>
                {{ 'user.ask_reset_password'|trans }}
            </div>
        </section>
    </body>
</html>
