<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ presenter.email.subject|trans }}
        </title>
    </head>
    <body>
    <section>
        <h2>
            {{ "user.ask_reset_password.header"|trans }}
        </h2>
        <div>
            {{ presenter.email.content|trans }}
        </div>
    </section>
    </body>
</html>
