<!DOCTYPE html>
<html>
    <head>
        <title>{{ 'account.welcome'|trans }}</title>
    </head>
    <body>
        <section>
            <h2>{{ 'account.greeting'|trans }}</h2>
            <p>
                Well, your account is now validated, time to start your journey,
                first, you can try to create a new stock using your <a href="{{ url('dashboard_home') }}">dashboard</a> ,
                once it's done, time to add some products and manage the whole thing.
            </p>
            <p>
                Remember, if you need some help or have any question, please join us <a href="{{ url('contact') }}">here</a>.
            </p>
        </section>
    </body>
</html>
