@import "@material/textfield/mdc-text-field";

.register_username, .register_email, .register_password, .register_profileImage {
  display: block;
  margin: 20px auto;
  width: 300px;
}

.register_container--button {
  display: block;
  width: 300px;
  margin: 20px auto;

  .register_container--button button {
    margin: 3px;
  }
}
